*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(./image/MGA063-8eee.jpg);
    background-repeat: no-repeat;
    background-size: 60%;
    height:55rem;
    background-position: center;
    background-color: burlywood;
}
.content{
    text-align: center;
    margin-top: 10%;
}
.exit{
    background-color: red;
    width: 4rem;
    height: 2rem;
}
.button{
    background-color: chartreuse;
    width: 3rem;
    height: 2rem;

}
.input{
    height: 2rem;
    width: 20rem;
    border-radius: 0.8rem;
}
#ul{
    text-align: center;
    padding-top: 2rem;
    color: white;
    
    
}
li{
    display: inline-block;
    padding: 1rem 0.5rem;
    max-width: 50%;
    overflow-wrap: break-word;
    
}
.counter{
    text-align: center;
    margin-top: 10%;
    color: white;
}